<p fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="space-evenly center">
    <a mat-raised-button class="blue-btn" [routerLink]="['/card-detail']" [queryParams]="{player: 1}">1</a><br/>
    <a mat-raised-button class="red-btn" [routerLink]="['/card-detail']" [queryParams]="{player: 2}">2</a><br/>
    <a mat-raised-button class="purple-btn" [routerLink]="['/card-detail']" [queryParams]="{player: 3}">3</a><br/>
    <a mat-raised-button class="yellow-btn" [routerLink]="['/card-detail']" [queryParams]="{player: 4}">4</a><br/>
    <a mat-raised-button class="green-btn" [routerLink]="['/card-detail']" [queryParams]="{player: 5}">5</a><br/>
    <a mat-raised-button class="cyan-btn" [routerLink]="['/card-detail']" [queryParams]="{player: 6}">6</a><br/>
    <a mat-raised-button class="pink-btn" [routerLink]="['/card-detail']" [queryParams]="{player: 7}">7</a><br/>
    <a mat-raised-button class="orange-btn" [routerLink]="['/card-detail']" [queryParams]="{player: 8}">8</a><br/>
</p>
