.mat-raised-button.blue-btn {
    background-color: blue;
    color: white;
}
.mat-raised-button.red-btn {
    background-color: red;
}
.mat-raised-button.purple-btn {
    background-color: purple;
}
.mat-raised-button.yellow-btn {
    background-color: yellow;
}
.mat-raised-button.green-btn {
    background-color: green;
}
.mat-raised-button.cyan-btn {
    background-color: cyan;
}
.mat-raised-button.pink-btn {
    background-color: pink;
}
.mat-raised-button.orange-btn {
    background-color: orange;
}