<form fxLayout="column" fxLayoutAlign="space-evenly center" [formGroup]="addCardForm" (ngSubmit)="onSubmit()">
    <div style="max-width: 200px">Set <b>one</b> person <b>or</b> wikipedia field <b>in the right language</b>, and click on one of the buttons</div>

    <div formGroupName="person" fxLayout="column" fxLayoutAlign="space-evenly center">
        <mat-form-field appearance="fill">
            <mat-label>Person (English)</mat-label>
            <input matInput formControlName="en">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Person (French)</mat-label>
            <input matInput formControlName="fr">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Person (Japanese)</mat-label>
            <input matInput formControlName="ja">
        </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <div formGroupName="wikipedia" fxLayout="column" fxLayoutAlign="space-evenly center">
        <div fxLayout="rows" fxLayoutAlign="space-evenly center" class="wikipedia-field">
            <mat-form-field appearance="fill">
                <mat-label>Wikipedia (English)</mat-label>
                <input matInput formControlName="en">
            </mat-form-field>
            <a [href]="addCardForm.get('wikipedia.en')?.value" [class.disabled]="!addCardForm.get('wikipedia.en')?.value ? true: null" target="_blank" (click)="checkLink($event)"><mat-icon aria-hidden="false" aria-label="Link icon">link</mat-icon></a>
        </div>
        <div fxLayout="rows" fxLayoutAlign="space-evenly center" class="wikipedia-field">
            <mat-form-field appearance="fill">
                <mat-label>Wikipedia (French)</mat-label>
                <input matInput formControlName="fr">
            </mat-form-field>
            <a [href]="addCardForm.get('wikipedia.fr')?.value" [class.disabled]="!addCardForm.get('wikipedia.fr')?.value ? true: null" target="_blank" (click)="checkLink($event)"><mat-icon aria-hidden="false" aria-label="Link icon">link</mat-icon></a>
        </div>
        <div fxLayout="rows" fxLayoutAlign="space-evenly center" class="wikipedia-field">
            <mat-form-field appearance="fill">
                <mat-label>Wikipedia (Japanese)</mat-label>
                <input matInput formControlName="ja">
            </mat-form-field>
            <a [href]="addCardForm.get('wikipedia.ja')?.value" [class.disabled]="!addCardForm.get('wikipedia.fr')?.value ? true: null" target="_blank" (click)="checkLink($event)"><mat-icon aria-hidden="false" aria-label="Link icon">link</mat-icon></a>
        </div>
    </div>

    <mat-divider></mat-divider>
    
    <div class="image-input" fxLayout="rows" fxLayoutAlign="space-evenly center">
        <mat-form-field appearance="fill">
            <mat-label>Image Url</mat-label>
            <input matInput formControlName="imageUrl">
        </mat-form-field>
        <div class="image-container">
            <img fxLayoutAlign="center" [src]="addCardForm.get('imageUrl')?.value" [alt]="">
        </div>
    </div>

    <mat-divider></mat-divider>

    <mat-form-field appearance="fill">
        <mat-label>Input language</mat-label>
        <mat-select formControlName="inputLang">
            <mat-option value="fr">Francais</mat-option>
            <mat-option value="en">English</mat-option>
            <mat-option value="ja">日本語</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field appearance="fill">
        <mat-label>Difficulty</mat-label>
        <mat-select formControlName="difficulty">
            <mat-option value=""></mat-option>
            <mat-option value="easy">Easy</mat-option>
            <mat-option value="medium">Medium</mat-option>
            <mat-option value="hard">Hard</mat-option>
        </mat-select>
    </mat-form-field>

    <a mat-raised-button color="primary" (click)="loadAndSubmit()">Load and submit</a>
    <a mat-raised-button color="accent" (click)="load()">Load only</a>
</form>