
<div fxLayout="column" fxLayoutAlign="space-evenly center">
    <mat-list fxLayout="column" fxLayoutAlign="space-evenly center">
        <mat-list-item>
            🇺🇸<a [href]="card.wikipedia?.en" target="_blank">{{card.person.en}}</a>
        </mat-list-item>
        <mat-list-item>
            🇯🇵<a [href]="card.wikipedia?.ja" target="_blank">{{card.person.ja}}</a>
        </mat-list-item>
        <mat-list-item>
            🇫🇷<a [href]="card.wikipedia?.fr" target="_blank">{{card.person.fr}}</a>
        </mat-list-item>
    </mat-list>

    <a mat-raised-button color="primary" [routerLink]="['/result']" [queryParams]="{player: this.player}">To Result</a><br/>
    <a mat-raised-button color="accent" (click)="reloadComponent()">Refresh</a><br/>
</div>