
<div fxLayout="column" fxLayoutAlign="top center">
    <mat-card fxLayout="column" fxLayoutAlign="space-evenly center">
        <mat-card-header>
            <mat-card-title>Your card !</mat-card-title>
        </mat-card-header>

        <div fxLayoutAlign="center"  class="image-container">
            <img mat-card-image [src]="card.imageUrl" [alt]="card.person?.en">
        </div>

        <mat-card-content>
            <mat-list fxLayout="column" fxLayoutAlign="space-evenly center">
                <mat-list-item>
                    🇺🇸<a [href]="card.wikipedia?.en" target="_blank">{{card.person?.en}}</a>
                </mat-list-item>
                <mat-list-item>
                    🇫🇷<a [href]="card.wikipedia?.fr" target="_blank">{{card.person?.fr}}</a>
                </mat-list-item>
                <mat-list-item>
                    🇯🇵<a [href]="card.wikipedia?.ja" target="_blank">{{card.person?.ja}}</a>
                </mat-list-item>
            </mat-list>
        </mat-card-content>

        <mat-card-actions fxLayout="row" fxLayoutAlign="space-evenly center">
            <a mat-raised-button color="primary" [routerLink]="['/result']" [queryParamsHandling]="'preserve'">To Result</a><br/>
            <a mat-raised-button color="accent" (click)="pickAnotherCard()">Pick another card</a><br/>
        </mat-card-actions>
    </mat-card>
</div>